:host {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

table {
  border-collapse: separate; 
  border-spacing: 4px; 
  width: 100%;
}

th, td {
  padding: 4px;
  vertical-align: middle;
  border-radius: 6px; 
}
